# Блокирования открытия файла на чтение\запись по полному пути
php_value allow_url_fopen 0
php_value display_errors 0

# Блокирование показа папки при отсутствии в ней индексных файлов
Options -Indexes

# Все отображаемые данные имеют кодировку utf-8
AddDefaultCharset utf-8

# Запрет на обращение к файлам: .log
<FilesMatch "*.log">
    Deny from all
</FilesMatch>

# Отключаем правила
RewriteEngine Off